.product-container {
    flex-direction: column !important;
}

.product-list-wrapper {
    padding: 0 2rem;
}

.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.product-card {
    min-height: 300px;
    padding: 0 1rem 1rem;
    cursor: pointer;
    transition: all 0.2s linear;
}

.product-card:hover {
    box-shadow: 0 0 4px 0 #00000030;
}

.product-card:hover .product-card-image-alt {
    opacity: 1;
}

.product-card-image-main {
    padding: 10px;
    width: 200px;
}

.product-card-image-alt-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card-image-alt {
    padding: 5px;
    width: 60px;
    opacity: 0;
    transition: all 0.2s ease-in;
}

/* Page navigation */

.page-nav-button-wrapper {
    padding: 2rem 0;
    justify-content: center;
}

.page-nav-button {
    margin: 0 0.25rem;
    padding: 0.25rem 0.75rem;
    border: none;
    border-radius: 0.2rem;
    background: #fff;
    box-shadow: 0px 0px 4px 0px #00000030;
}

.page-nav-button:hover {
    box-shadow: 0px 1px 4px 1px #00000030;
}

.page-nav-button:focus {
    outline: none;
}