.product-filter-wrapper {
    padding: 0 1rem;
    border-right: 1px solid lightgray;
}

.product-filter-container {
    position: sticky;
    top: 6.65rem;
}

.product-filter-type {
    display: flex;
    flex-direction: column;
}

.product-filter-title {
    margin: 1rem 2rem 0.5rem 0;
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
    border-bottom: 1px solid lightgray;
}

.product-filter-content {
    display: flex;
    align-items: center;
}

.product-filter-content * {
    cursor: pointer;
}

.product-filter-input {
    margin: 0.5rem 0 0 0.5rem;
}

.product-filter-input:hover {
    text-decoration: underline;
}

.product-filter-selected {
    font-weight: 700;
    text-decoration: none;
}

.product-filter-selected:hover {
    text-decoration: none !important;
}

.product-filter-clear {
    margin: 0.75rem 2rem 0 0;
    align-self: flex-end;
    font-size: 0.85rem;
    cursor: pointer;
}

.product-filter-clear:hover {
    text-decoration: underline;
}

.product-filter-clear:active {
    font-weight: 700;
}

/* searchFilter.jsx classes */

.search-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar {
    width: 200px;
    margin: 0 0 1rem 0;
    padding: 0.5rem 0;
    font-size: 1.125rem;
    color: var(--text-color);
    border: none;
    border-bottom: 1px solid lightgray;
    background: none;
}

.search-bar:focus {
    outline: none;
    border-bottom: 1px solid var(--sec-color);
}

.search-icon {
    height: 100%;
    margin: 0 0 1rem 0;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1.2rem;
    color: #8d8d8d;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.search-bar:focus ~ .search-icon{
    color: var(--sec-color);
    border-bottom: 1px solid var(--sec-color);
}