/* Header */

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
    background-color: #fff;
    box-shadow: 1px 0px 4px #00000030;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    padding: 0 20px;
}

#logo-img {
    height: 3rem;
    padding-top: 0.5rem;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

