/* Dette er for progressbaren */
#instruction-progress {
    margin: 0 auto;
    padding: 10px 10px 5px 10px;
    height: 40px;
}

.filter-progress {
    padding: 5px 0;
    line-height: 20px;
}

.progress-next {
    border-bottom: 5px solid rgb(118, 173, 195);
}

.progress-none {
    padding: 5px 0;
    line-height: 20px;
    border-bottom: 5px;
}

/* progressbar css slutt */

/* Dette er for profilsiden */

.profile-container {
    display: flex;
    flex-direction: row;
}

.my-profile-container {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.my-profile {
    display: flex;
    flex-direction: column;
}

.my-items-container {
    display: flex;
    flex-direction: column;

}

.my-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-button {
    padding: 0.5rem 2rem;
    background: linear-gradient(rgb(27, 154, 177), #168A9E);
    color: #FFF;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.2rem;
}

.profile-button:hover {
    background: linear-gradient(rgb(25, 134, 156), #177085);
    cursor: pointer;
}

.border-right {
    border-right: 1px solid lightgray;
}

.profile-picture-container {
    width: 100%;
}

.profile-picture-container img {
    width: 100%;
}

.discount-cards-container {
    margin-top: 50px;
}