.restore-progress {
    margin: 0 0 0.5rem 0;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    background: #fff;
    /* border-bottom: 1px solid var(--sec-color); */
    box-shadow: 0px 1px 4px #00000030;
    z-index: 1;
}

.restore-progress-items {
    display: flex;
    justify-content: space-evenly;
}

.restore-progress-item {
    margin: 5px;
    padding: 10px;
    color: var(--sec-color);
}

.restore-progress-navigation-button {
    margin: 5px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    color: var(--sec-color);
    border-radius: 0.2rem;
    /* border: 1px solid black; */
    cursor: pointer;
    transition: all 0.2s linear;
}

.restore-progress-navigation-button .arrow-icon{
    margin: 0 0.5rem;
    padding: 0;
}

.restore-progress-navigation-button:hover {
    color: var(--cta-color-accent);
}

.restore-progress-item-active {
    color: #FEAF1A;
    border-bottom: 2px solid #FEAF1A;
}

.restore-progress-item-past {
    color: var(--cta-color);
    border-bottom: 2px solid var(--cta-color-accent);
}

.restore-progress-item-past:hover {
    cursor: pointer;
}