/* HEADER */

header {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100vw;
    height: 4rem;
    background-color: #FFF;
    box-shadow: 1px 0px 4px #00000030;
    z-index: 2;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    padding: 0 20px;
}

#logo-img {
    height: 3rem;
    padding-top: 0.5rem;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu-button {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.profile-nav ul:last-of-type {
    padding-left: 0.2rem;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    padding: 0 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

nav ul li {
    list-style: none;
}

nav a {
    color: #555555;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

nav a:hover, nav ul:hover {
    cursor: pointer;
    color: #168A9E;
}

.user {
    font-size: 2rem !important;
}

#dropdown {
    display: flex;
    align-items: center;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 800;
    position: relative;
}

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown-content {
    display: none;
    position: absolute;
    left: -0.5rem;
    top: 4rem;
    box-shadow: 1px 1px 5px darkgray;
    background-color: white;
}

#dropdown-content li {
    background-color: white;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    margin: 0;
}

@media only screen and (max-width: 800px) {
    .header-right {
        flex-direction: column;
    }
    #menu-button {
        display: block;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        left: -999%;
        top: 0;
        z-index: 4;
        width: 60vw;
        padding: 50px 0 0 0;
        background-color: rgb(51, 51, 51);
        height: 100vh;
        overflow: hidden;
    }
    nav li {
        border-bottom: 1px solid white;
        width: 100%;
    }
    nav a {
        color: white;
        width: 100%;
        white-space: nowrap;
        padding: 2.5px 5px;
    }
    nav ul {
        padding: 0;
        margin: 0;
    }
    #dropdown {
        margin: 0;
        width: 100%;
        border-bottom: 1px solid white;
    }
}