/* This is the main stylesheet with all generic styles that are used on every page */

/* Commons */

:root {
    /* Colors */
    --primary-color: #2391D3;
    --sec-color: #022C3F;
    --comp-color: #FA4A64;
    --comp-color-accent: #FF6F16;
    --cta-color: #2BA358;
    --cta-color-accent: #40B36C;
    --title-color: #151515;
    --text-color: #121212;
    --bg-primary-color: #ffffff;
    --bg-secondary-color: #FFF9E9;
    /* Widths */
    --width-large: 1100px;
    --width-small: 900px;
}

html {
    font-size: 16px;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a, button, input[type="submit"] {
    cursor: pointer;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

/* Containers */

.container-fluid {
    width: 100%;
    padding: 2rem 1rem;
}

.container {
    max-width: var(--width-large);
    margin: 0 auto;
}

/* Typografi */

h1, h2, h3, h4, h5 {
    font-family: 'Noto Serif', serif;
    letter-spacing: 1.1px;
    color: var(--title-color);
}

.main-title {
    font-size: 6.75rem;
    line-height: 108.5px;
}

h1 {
    font-size: 3.8rem;
    line-height: 67.5px;
}

h2 {
    font-size: 2.8rem;
    line-height: 49.5px;
}

h3 {
    font-size: 2rem;
    line-height: 35.5px;
}

h4 {
    font-size: 1.25rem;
    line-height: 29px;
}

h5 {
    font-size: 0.69rem;
    line-height: 20px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 25px;
    color: var(--text-color);
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 800;
}

p a {
    color: #1789d5;
    text-decoration: none;
}

p a:hover, p a:active {
    color: #1268a1;
    text-decoration: underline;
}

/* Media: Tablet */

@media screen and (max-width: 1000px) {
    /* Containers */
    .container-fluid {
        padding: 1rem;
    }
    /* Typografi */
    h1 {
        margin: 1.5rem 0;
        font-size: 2rem;
        line-height: 35.5px;
    }
    h2 {
        margin: 1.375rem 0;
        font-size: 1.5rem;
        line-height: 29px;
    }
    h3 {
        margin: 1.25rem 0;
        font-size: 1.17rem;
        line-height: 29px;
    }
    h4 {
        margin: 1.125rem 0;
        font-size: 1.05rem;
        line-height: 25px;
    }
    p {
        font-size: 16px;
        line-height: 20px;
    }
}

/* Media: Mobile */

@media screen and (max-width: 750px) {}