/* Styles for both pages */

.login-wrapper {
    max-width: var(--width-large);
    min-height: calc(100vh - 8rem - 206px);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px #00000030;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-title {
    margin: 0;
    padding: 0;
}

.login-text {
    margin: 0 0 1rem;
    padding: 0;
    font-size: 1rem;
}

.login-label {
    margin: 0 0 0.25rem 0;
    font-size: 0.9rem;
}

.login-input {
    margin: 0.25rem 0 1rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: 1px solid #d3d3d3;
}

.login-submit {
    margin: 0.5rem 0 0;
    padding: 0.75rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: #fff;
    background: var(--cta-color);
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0px 2px 4px 0px #00000030;
    cursor: pointer;
    transition: all 0.2s linear;
}

.login-submit:hover {}

/* Log in page */

.login-link-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.login-link {
    justify-self: flex-end;
    font-size: 0.9rem;
    color: var(--sec-color);
}

.register-link-container {
    text-align: center;
}

.register-text {
    margin: 1rem 0 0;
    font-size: 1rem;
}

.register-link {
    font-size: 1rem;
    color: var(--sec-color);
}

/* Register page */

/* Media: Tablet */

@media screen and (max-width: 750px) {
    .login-container-fluid {
        min-height: unset;
    }
}

/* Media: Mobile */

@media screen and (max-width: 750px) {}