.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-margin {
    margin: 50px 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 320px;
    background-color: #00000010;
    border-radius: 0.5rem;
    box-shadow: 0 1px 5px 1px lightgrey;
}

.login-label {
    display: flex;
    flex-direction: column;
}

.input-field {
    height: 2.4rem;
    width: 14rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
}

.login-password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.submit {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: var(--cta-color);
    font-size: 1rem;
    height: 2.4rem;
    width: 14rem;
    border-radius: 0.5rem;
}

.login-register {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
