.home-wrapper {}
.above-fold {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.above-fold-text-wrapper {}
.above-fold-text-wrapper h1 {}
.above-fold-text-wrapper p {}
.above-fold-text-wrapper .cta-button {}
.above-fold-img-wrapper {}
.above-fold-img-wrapper img {
    width: 100%;
}
.under-fold {}
.under-fold .home-header {}