.product-description {
    margin: auto;
    padding: 25px;

    border: 1px solid black;
}

.product-description-image-main {
    width: 400px;
}

.product-description-image-alt {
    width: 150px;
}

.selected-item {
    border: 1px solid rgba(0,0,0,20)
}
