.footer-container {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    box-shadow: 1px 0px 4px #00000030;
    padding: 3.5rem 0;
}

.bigFont {
    font-size: 30px !important;
    padding: 5px;
}

.socialMediaIcons {
    flex-direction: row;
    padding: 5px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.footer-wrapper-link {
    align-items: center;
}

.footer-wrapper-content {
    margin: 0;
    padding: 5px;
    font-size: 1rem;
}

#logo-img {
    width: 45%;
}

.logo-container {
    display: flex;
    flex-direction: row;
}

.footerIcon {
    color: var(--sec-color);
    margin-right: 10px;
    font-size: 2rem;
}

.kontakt-info {
    font-size: 0.9rem;
}

#hh-logo {
    width: 60px;
    margin-right: 10px;
}

#swix-logo {
    width: 80px;
}

/* Media: Tablet */

@media screen and (max-width: 750px) {
    .footer-container {
        width: 100%;
        flex-direction: column;
    }
    .footer-content {
        width: 100%;
        justify-content: flex-start;
        padding: 1rem;
    }
    .footer-content-1 {
        order: 4;
    }
    .footer-content-2 {
        order: 3;
    }
    .footer-content-3 {
        order: 1;
    }
    .footer-content-4 {
        order: 2;
    }
}

/* Media: Mobile */

@media screen and (max-width: 750px) {}