.filter-progress {
    padding: 5px 0;
    line-height: 20px;
}

.progress-next {
    border-bottom: 5px solid rgb(118, 173, 195);
}

.progress-none {
    padding: 5px 0;
    line-height: 20px;
    border-bottom: 5px;
}